.container{
    position: relative;
    line-height: 40px;

}
.container h2{
    text-align: center;
    font-weight: 900 !important;
    text-transform: uppercase;
    max-width: 650px;
    margin: auto;

}
.container h3{
    text-align: center;
    font-weight: 600;
    color: var(--yellow-dark-color);
    text-transform: uppercase;
}
.reflect{
    position: absolute;
    left :0;
    right: 0;
    z-index: 0;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.06;
    color: var(--grey-background);
    display: flex;
    justify-content: center;
}
@media (max-width:500px) {
    .container{
        line-height: 25px;
    
    }
    .reflect{
        font-size: 2.5rem;
    }
}
@media (max-width:500px) {
    .container{
        line-height: 25px;
    }
    .reflect{
        font-size: 1.8rem;
    }
}