.container{
    position: relative;

}
.container h1{
    font-weight: 600;
}
.container h2{
   line-height: 3px !important;
}
.container span{
    position: relative;
}
.svg{
    position: absolute;
    left: 0;
    width: 120px;
}
.container form{
    width: 80%;
    background-color: var(--dark-color);
    box-shadow: var(--box-universe);
    border-radius: 12px;
}
.container h3{
    font-size: var(--font-size-l);
    font-weight: 600;
    text-transform: capitalize;
}

@media (max-width:1024px) {
    .container form{
        width: 100%;
    }
    .container img{
        width: 100px;
    }
}
@media (max-width:768px) {
    .hover{
        height: 35px;
    }
    .container img{
        width: 80px;
    }
    
}