.container{

}
@media (max-width: 1024px) {
    .container img{
        width: 130px;
    } 
    
}
@media (max-width: 640px) {
    .container img{
        width: 100px;
    } 
    
}
@media (max-width: 400px) {
    .container img{
        width: 80px;
    } 
    
}