.container{
    background-color: var(--second-color);
    position: relative;
    z-index: 100;
    overflow: hidden;
    
}
.container p{
    font-weight: 500;
}

.loop{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.05px solid rgba(141, 138, 138, 0.341);
    text-transform: capitalize;
    position: relative;
}
.circle {
    width: 5px;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50%; /* Center the circle vertically */
    left: 50%; /* Center the circle horizontally */
    transform: translate(-50%, -50%); /* Ensure the circle is fully centered */
    animation: walk 5s linear infinite; /* Animation applied here */
  }
@keyframes walk {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(90px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(90px);
    }
}
.number{
    font-size: var(--font-size-xxl);
    font-weight: 600;
    color: var(--yellow-dark-color);

}
